<link href="~/Content/Css/header.css" rel="stylesheet" />
<nav class="navbar navbar-default navbar-fixed-top " role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="padding:0;" href='@Url.Action("Index","Home")'><img src="~/Content/Images/logo.png" /></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


            <ul class="nav navbar-nav navbar-right">
                <li id="home_li" class="active"><a id="homeALink" href="#myCarousel">Home</a></li>
                <li id="about_li"><a href="#about">About Us</a></li>
                @*<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>*@
                <li id="features_li"><a href="#more-features">Features</a></li>
                <li id="contact_li"><a href="#contact">Contact Us</a></li>
                <li><a href="@Url.Action("Login","Account")">Log-in</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-collapse -->
</nav>
